* {
    font-family: Equinor, sans-serif;
    font-size: 16px;
}
body {
    background-color: var(--ui-background--default);
    color: var(--text--default);
}

button span svg {
    height: 16px !important;
    width: 16px !important;
}

#procosys-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#procosys-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    overflow: visible;
    z-index: 999;
}

/* width */
::-webkit-scrollbar {
    width: var(--grid-unit);
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
