@import './css-reset.scss';
@import '../fonts/equinor/equinor-font.css';
@import './colors.scss';

body {
    font-family: Equinor, sans-serif;
    background-color: var(--ui-background--default);
    color: var(--text--default);
}
