:root {
    --text--default: #3D3D3D;
    --text--primary-white: #FFF;

    // UI
    --ui-background--default: #ffffff;
    --ui-background--light: #f7f7f7;
    --ui-background--medium: #DCDCDC;

    // Interactive
    --interactive-primary--selected-highlight: #e6faec;
    --interactive-primary--resting: #007079;

    // Shadows

    --shadow-raised: 0px 1px 5px rgba(0, 0, 0, 0.2),0px 3px 4px rgba(0, 0, 0, 0.12),0px 2px 4px rgba(0, 0, 0, 0.14);

    // GRID Units
    --grid-unit: 8px;

    // Margins
    --margin-module--top: 16px;
    --margin-module--bottom: 50px;
    --margin-module--left: 35px;
    --margin-module--right: 35px;
    
    @media (max-width: 639px) {
        --margin-module--top: 8px;
        --margin-module--right: 8px;
        --margin-module--left: 8px;
    }
}
